<section class="container">
    <h1 align="center">TODOS</h1>

    <!-- form to create task -->
    <form action="/todos/create-todos" method="POST">

        <table class="table">
            <thead>
                <tr class="table-active">
                    <th>Add Task</th>
                    <th>category</th>
                    <th>date</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td> <input type="text" name="description" placeholder="What do you need to do?" required></input>
                    </td>
                    <td> <select name="category" required>

                            <option>PERSONAL</option>
                            <option>WORK</option>
                            <option>SCHOOL</option>
                            <option>CLEANING</option>
                            <option>OTHER</option>

                        </select></td>
                    <td> <input type="date" name="date" required></td>
                    <td><input type="submit" class="btn btn-success" id="add" value="ADD TASK"></td>
                </tr>
            </tbody>

        </table>

    </form>
</section>

