<div class="container">
  <div class="row">
    <div class="banner_section layout_padding">
      <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row marginii">
                  <div class="col-md-5 col-sm-12">
                    <div class="col-lg-12" style="margin-top: 5em;">
                      <h1>
                        Hallo helps teams develop the work forward.
                      </h1>
                      <p style="font-size: 20px;">
                        Collaborate, manage work and reach new heights of productivity. Hallo will help you manage your
                        work effectively
                      </p>
            <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Register Now</a>
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-12">
                    <div class="img-box">
                      <figure><img src="images/hinh1.png" style="max-width: 100%;" /></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>